In [3]:
import pandas as pd
import numpy as np

In [6]:
train_df = pd.read_csv('train.csv', nrows=10000)
questions_df = pd.read_csv('questions.csv')
lectures_df = pd.read_csv('lectures.csv')
example_test_df = pd.read_csv('example_test.csv')

In [17]:
train_df[train_df['content_type_id'] == 1]
#

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation
89,89,653762,2746,6808,1,14,-1,-1,NaN,False
117,117,10183847,5382,16736,1,21,-1,-1,NaN,False
212,212,1424348597,5382,30207,1,104,-1,-1,NaN,False
216,216,1425557777,5382,18545,1,121,-1,-1,NaN,False
295,295,405813029,8623,10540,1,59,-1,-1,NaN,False
...,...,...,...,...,...,...,...,...,...,...
9903,9903,1990930333,91216,18091,1,683,-1,-1,NaN,False
9914,9914,1996114890,91216,13605,1,694,-1,-1,NaN,False
9928,9928,1997374102,91216,22034,1,708,-1,-1,NaN,False
9938,9938,1997886262,91216,7949,1,718,-1,-1,NaN,False
9973,9973,2159957926,91216,26335,1,753,-1,-1,NaN,False